{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^@(?!graasp|material)(.*)", "^react", "^@?material(.*)", "^@?graasp(.*)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
