{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react", "^@?graasp*", "^@?material*", "^@.*", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
